# Environnements virtuels Python
.venv/
venv/
env/

# Cache et fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Dossier généré par MkDocs
site/

# Configurations locales des IDEs (VS Code, PyCharm, IntelliJ, etc.)
.vscode/
.idea/
*.swp

# Fichiers générés par le système d'exploitation
.DS_Store
Thumbs.db

# Dossiers temporaires générés par mkdocs-multirepo-plugin
Child-Project/
Third-repo/