.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img {
    height: 3.2rem;
    width: auto;
}

:root  > * {
    --md-primary-fg-color:        #0A192F;
}

[data-md-color-scheme="slate"] .md-nav__link--active {
    color: #3FD03E;
}

.md-nav__item--section > label.md-nav__link {
    border-bottom: 1px solid var(--md-default-fg-color--lightest);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.md-typeset a {
    color: #0262bf; /* Remplacez par votre code couleur */
}